.skin-ferriswheel {}
.skin-ferriswheel #toptip .icon-close {background: url("../images/kOnJqVgM.png") -216px -408px no-repeat scroll;}
.skin-ferriswheel .leftbar-bottom-bg {background: url("../images/QM0lNXQK.png") no-repeat;background-position: bottom;height: 100%;}
.skin-ferriswheel .playlist-length-cloud {filter: alpha(opacity=70);-moz-opacity: 0.7;-khtml-opacity: 0.7;opacity: 0.7;}
.skin-ferriswheel .baidu-fm a {background: url("../images/kOnJqVgM.png") -120px -288px no-repeat;}
.skin-ferriswheel .column1 .selected {background: #efb193;}
.skin-ferriswheel .album-cover .album-hover {background: #efb193;}
.skin-ferriswheel .artist-status, .skin-ferriswheel .album-status {background-color: #efb193;}
.skin-ferriswheel  .mb-layout-hd {background: #f3d0a2;}
.skin-ferriswheel .top-banner {background: url("../images/gdqRi1hi.png") no-repeat;background-position: center;}
.skin-ferriswheel .user-bar .myhome {background: url("../images/h56nrjA7.png") no-repeat scroll right 6px;}
.skin-ferriswheel .ui-reelList-active {background: #efb193 !important;}
.skin-ferriswheel .odd {background: #fff8f5;}
.skin-ferriswheel .playlist-length-cloud .bar-inner {background: #f2bd8e;}
.skin-ferriswheel .column3 .lrc-wrapper .ui-lrc-current {color: #ff7854;}
.skin-ferriswheel #progressSlider.ui-slider-horizontal .ui-slider-range {background: url("../images/gjjwhuEN.png") 0px -504px repeat-x scroll;}
.skin-ferriswheel .playmod .list-mode a.cur {background: url("../images/gjjwhuEN.png") no-repeat -324px -408px;}
.skin-ferriswheel .playmod .single-mode a.cur {background: url("../images/gjjwhuEN.png") no-repeat -300px -432px;}
.skin-ferriswheel .playmod .random-mode a.cur {background: url("../images/gjjwhuEN.png") no-repeat -348px -408px;}
.skin-ferriswheel .column1 .selected .list-temp-icon {background: url("../images/gjjwhuEN.png") no-repeat -444px -408px;}
.skin-ferriswheel .user-bar .user-info li a {color: #563700;}
.skin-ferriswheel .skin-web-link {background: url("../images/kOnJqVgM.png") no-repeat;background-position: -216px -252px;}
.skin-ferriswheel #Menu_AddTo .ui-menu-item a:hover, .skin-ferriswheel .addto-newlist a:hover {background-color: #efb193;color: #fff;}
.skin-ferriswheel .emptyHeart.ui-reelList-active .playlist-heart {background: url("../images/QhaFVnQ0.png") no-repeat -24px -288px;}
.skin-ferriswheel .ui-reelList-active .playlist-heart {background: url("../images/gjjwhuEN.png") no-repeat -324px -432px;}
.skin-ferriswheel .floatBtn.ui-floatbtn-active a.red-heart {background: url("../images/gjjwhuEN.png") no-repeat -324px -432px;}
.skin-ferriswheel .floatBtn.ui-floatbtn-active a.add {background: url("../images/QhaFVnQ0.png") no-repeat -144px -108px;}
.skin-ferriswheel .floatBtn.ui-floatbtn-active a.download {background: url("../images/kOnJqVgM.png") no-repeat -204px -480px;}
.skin-ferriswheel .floatBtn.ui-floatbtn-active a.delete {background: url("../images/kOnJqVgM.png") no-repeat -132px -492px;}
.skin-ferriswheel .column1 .playing .listen-icon-playing, .skin-ferriswheel .column1 .playing .listening-icon {background: url("../images/BvpFU0gT.gif") no-repeat center center;}
.skin-ferriswheel .column1 .selected .listen-icon-playing {background: url("../images/zSGhlXp4.gif") no-repeat center center;}
.skin-ferriswheel .floatBtn a.delete:hover {background: url("../images/gjjwhuEN.png") no-repeat -192px -72px;}
.skin-ferriswheel .floatBtn a.download:hover {background: url("../images/gjjwhuEN.png") no-repeat -120px -72px;}
.skin-ferriswheel .floatBtn a.add:hover {background: url("../images/gjjwhuEN.png") no-repeat -168px -72px;}
.skin-ferriswheel .floatBtn.ui-floatbtn-active a.add:hover {background: url("../images/gjjwhuEN.png") no-repeat -204px -72px;}
.skin-ferriswheel .floatBtn.ui-floatbtn-active a.download:hover {background: url("../images/gjjwhuEN.png") no-repeat -108px -72px;}
.skin-ferriswheel .floatBtn.ui-floatbtn-active a.delete:hover {background: url("../images/gjjwhuEN.png") no-repeat -96px -72px;}
.skin-ferriswheel .emptyHeart .playlist-heart {background: url("../images/xOW4eTy5.png") no-repeat 0px -48px;visibility: visible;}
.skin-ferriswheel .similar-icon {background: url("../images/YQGO3dcb.png") no-repeat;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="crop",src="../images/47WMDarB.png");background-position: -372px 0px;}
.skin-ferriswheel .ui-reelList-similar {color: #f0b190;}
